body {
  background-color: rgb(245, 245, 245);
}
.content-section {
  background: #fff;
  margin: 40px;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
}

.container-fluid .main-container {
  padding: 50px;
}

.title h1 {
  text-align: center;
  align-items: center;
}
