{% extends "index.html" %}
{% block body %}
<form method="POST">
    {{ form.csrf_token }}

    {{ form.email.label }}
    {% if form.email.errors %}
    {% for error in form.email.errors %}
        <p style="color: red;font-weight: bold;">{{ error }}</p>
    {% endfor %}
    {% endif %}
    {{ form.email }}

    {{ form.username.label }}
    {% if form.username.errors %}
    {% for error in form.username.errors %}
        <p style="color: red;font-weight: bold;">{{ error }}</p>
    {% endfor %}
    {% endif %}
    {{ form.username }}

    {{ form.password.label }}
    {% if form.password.errors %}
    {% for error in form.password.errors %}
        <p style="color: red;font-weight: bold;">{{ error }}</p>
    {% endfor %}
    {% endif %}
    {{ form.password }}

    {{ form.password_confirmation.label }}
    {% if form.password_confirmation.errors %}
    {% for error in form.password_confirmation.errors %}
        <p style="color: red;font-weight: bold;">{{ error }}</p>
    {% endfor %}
    {% endif %}
    {{ form.password_confirmation }}

    {{ form.submit_button }}
    <a href="{{ url_for('index') }}">Already regiestered? Click here to Log in.</a>
</form>
{% endblock body %}