{% extends "index.html" %}

{% block title %}IMS - Restock{% endblock title %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock head %}

{% block body %}
<h1>Create Order</h1>
    <form method="POST" action="{{ url_for('create_order') }}" id="orderForm">
        {{ form.csrf_token }}
        {{form.customer_id.label}}
        {{form.customer_id}}
        {{form.product_id.label}}
        {{form.product_id}}
        {{form.quantity.label}}
        {% if form.quantity.errors %}
            {% for error in form.quantity.errors %}
            <p style="color:red; font-weight:bold">{{error}}</p>    
            {% endfor %}
        {% endif %}
        {{form.quantity}}
        </div>
        {{ form.submit() }}
    </form>
{% endblock body %}