{% extends "index.html" %}

{% block title %}IMS - Restock{% endblock title %}

{% block head %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock head %}

{% block body %}
<h1>Create Order</h1>
    <form method="POST" action="{{ url_for('create_order_2') }}" id="orderForm">
        {{ form.csrf_token }}
        {{form.product_id.label}}
        {{form.product_id}}
        {{form.quantity.label}}
        {{form.quantity}}
        </div>
        {{ form.submit() }}
    </form>
{% endblock body %}